<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
    
<mapper namespace="com.ssafy.model.dao.AddictionDao">

	<!-- 생성 -->
	<insert id="insertAddiction" parameterType="Addiction">
		INSERT INTO addiction_list (user_id, title, target_time, end_time, icon_path)
		VALUES (#{userId}, #{title}, #{targetTime}, DATE_ADD(now(), INTERVAL #{targetTime} DAY), #{iconPath});
	</insert>
	
	<!-- 전체 조회 -->
	<select id="selectAddictionList" parameterType="String" resultType="Addiction">
		SELECT * FROM addiction_list
		WHERE user_id = #{userId}
		ORDER BY start_time DESC
	</select>
	
	<!-- 상세 조회 -->
	<select id="selectAddictionOne" resultType="Addiction">
		SELECT * FROM addiction_list
		WHERE addiction_id = #{addictionId}
	</select>
	
	<!-- 삭제 -->
	<delete id="deleteAddiction" parameterType="Integer">
		DELETE FROM addiction_list
		WHERE addiction_id = #{addictionId}
	</delete>
	
	<!-- 뱃지 조회 -->
	<select id="selectBadge" parameterType="int" resultType="Badge">
		SELECT * FROM badge
		WHERE addiction_id = #{addictionId};
	</select>
	
	<!-- 사용자 뱃지 전체 조회 -->
	<select id="selectBadgeAll" parameterType="String" resultType="Badge">
		SELECT * FROM badge
		WHERE user_id = #{userId}
	</select>
	
	<!-- 뱃지 생성 -->
	<insert id="insertBadge" >
		INSERT INTO badge (user_id, addiction_id, badge_date, badge_score, badge_img_url)
		VALUES (#{userId}, #{addictionId}, #{date}, #{date}*10, "URL")
	</insert>
	
	<!-- 뱃지 삭제 -->
	<delete id="deleteBadge" parameterType="int">
		DELETE FROM badge
		WHERE badge_id = #{badgeId}
	</delete>
	
	<!-- targetTime 업데이트 -->
	<update id="updateAddiction">
		UPDATE addiction_list
		SET target_time = #{targetTime}, end_time = DATE_ADD(start_time, INTERVAL #{targetTime} DAY) 
		WHERE addiction_id = #{addictionId};
	</update>
	
	<!-- iconPath 업데이트 -->
	<update id="updateIconAddiction">
		UPDATE addiction_list
		SET icon_path = #{iconPath}
		WHERE addiction_id = #{addictionId};
	</update>
	
	<!-- 유저 점수 업데이트 -->
	<update id="updateUserScore">
		UPDATE user
		SET user_score = #{userScore}
		WHERE user_id = #{userId}
	</update>
</mapper>
  