<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
    
<mapper namespace="com.ssafy.model.dao.AddictionDao">

	<!-- 생성 -->
	<insert id="insertAddiction" parameterType="Addiction">
		INSERT INTO addiction_list (user_id, title, target_time, end_time, icon_path)
		VALUES (#{userId}, #{title}, #{targetTime}, DATE_ADD(now(), INTERVAL #{targetTime} DAY), #{iconPath});
	</insert>
	
	<!-- 전체 조회 -->
	<select id="selectAddictionList" parameterType="String" resultType="Addiction">
		SELECT * FROM addiction_list
		WHERE user_id = #{userId}
	</select>
	
	<!-- 상세 조회 -->
	<select id="selectAddictionOne" resultType="Addiction">
		SELECT * FROM addiction_list
		WHERE user_id = #{userId} AND addiction_id = #{addictionId}
	</select>
	
	<!-- 삭제 -->
	<delete id="deleteAddiction" parameterType="Integer">
		DELETE FROM addiction_list
		WHERE addiction_id = #{addictionId}
	</delete>
	
	<!-- 뱃지 조회 -->
	<select id="selectBadge" parameterType="int" resultType="Badge">
		SELECT * FROM badge
		WHERE addiction_id = #{addictionId};
	</select>
	
	<!-- targetTime 업데이트 -->
	<update id="updateAddiction">
		UPDATE addiction_list
		SET target_time = #{targetTime}
		WHERE addiction_id = #{addictionId};
	</update>
</mapper>
  