<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.ssafy.model.dao.CommunityDao">

	<!-- 점수 상위 3 조회 -->
	<select id="selectRank" resultType="User">
		SELECT * FROM user
		ORDER BY user_score DESC
		LIMIT 3
	</select>

	<!-- 내 점수 조회 -->
	<select id="selectMyScore" resultType="int">
		SELECT user_score FROM user
		WHERE user_id = #{userId}
	</select>
	
	<!-- 댓글 등록 -->
	<!-- insert 태그는 일반적으로 삽입된 행의 수만 반환하기 때문에 Comment 객체를 반환하기 위해 selectKey 추가 -->
    <insert id="insertComment" useGeneratedKeys="true" keyProperty="commentId">
        INSERT INTO comment(user_id, content)
        VALUES(#{userId}, #{content})
        <selectKey resultType="int" keyProperty="commentId" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
    </insert>
    
    <!-- 댓글 조회 -->
    <select id="selectCommentAll" resultType="Comment">
        SELECT * FROM comment
        ORDER BY create_date DESC
    </select>

	<!-- 댓글 수정 -->
	<update id="updateComment">
		UPDATE comment
		SET content = #{content} 
		WHERE comment_id = #{commentId};
	</update>
	
	<!-- 댓글 삭제 -->
	<delete id="deleteComment">
		DELETE FROM comment
		WHERE comment_id = #{commentId}
	</delete>
	
</mapper>
